services:
    app:
        image: automaspec-web:local
        build:
            context: .
            target: runner
        ports:
            - '3000:3000'
        env_file:
            - .env
        restart: unless-stopped
