name: CI/CD Pipeline
env:
    VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
    VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    E2E_HOSTNAME: localhost
    E2E_PORT: 3000
    NEXT_PUBLIC_DATABASE_LOCAL_URL: file:db/local.db

on:
    pull_request:
        branches: [main, master, dev]
    push:
        branches: [main]

jobs:
    quality-checks:
        runs-on: ubuntu-latest
        name: Quality Checks

        steps:
            - name: Checkout repository
              uses: actions/checkout@v6.0.1

            - name: Install pnpm
              uses: pnpm/action-setup@v4.2.0

            - name: Setup Node.js
              uses: actions/setup-node@v6.1.0
              with:
                  node-version: '24'
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm run ci

            - name: Run pre-push hooks (typecheck, tests, lint, format)
              run: pnpm prepush

    e2e-tests:
        runs-on: ubuntu-latest
        name: E2E Tests
        steps:
            - uses: actions/checkout@v6.0.1
            - name: Install pnpm
              uses: pnpm/action-setup@v4.2.0
            - name: Setup Node.js
              uses: actions/setup-node@v6.1.0
              with:
                  node-version: '24'
                  cache: 'pnpm'

            - name: Install dependencies
              run: pnpm run ci

            - name: Install playwright
              run: pnpm test:setup-playwright

            - name: Run E2E tests
              run: pnpm test:e2e

    deploy-preview:
        needs: [quality-checks, e2e-tests]
        runs-on: ubuntu-latest
        name: Deploy Preview
        if: |
            (github.event_name == 'pull_request' && github.base_ref == 'dev') ||
            (github.event_name == 'pull_request' && github.base_ref == 'main')
        steps:
            - uses: actions/checkout@v6.0.1
            - name: Install Vercel CLI
              run: npm install --global vercel@latest
            - name: Pull Vercel Environment Information
              run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
            - name: Build Project Artifacts
              run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
            - name: Deploy Project Artifacts to Vercel
              run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}

    deploy-production:
        needs: [quality-checks, e2e-tests]
        runs-on: ubuntu-latest
        name: Deploy Production
        if: |
            (github.event_name == 'push' && github.ref == 'refs/heads/main')
        steps:
            - uses: actions/checkout@v6.0.1
            - name: Install Vercel CLI
              run: npm install --global vercel@latest
            - name: Pull Vercel Environment Information
              run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
            - name: Build Project Artifacts
              run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
            - name: Deploy Project Artifacts to Vercel
              run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
